/* Portfolio Site */

a {
  color: #4D73FF;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #4D73FF;
}

a > img {
  max-block-size: 20px;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  background-color: #000000;
  box-sizing: border-box;
  color: #C0C0C0;
  font-family: Helvetica, sans-serif;
  font-size: clamp(0.75em, 0.6em + 0.5vw, 1.5em);
  margin: 0;
  padding: 0;
}

footer {
  align-items: center;
  background-color: #000000;
  block-size: 40px;
  display: flex;
  grid-column: 1 / span 12;
  grid-row: 8;
  inline-size: 100vw;
}

footer > p {
  color: #C0C0C0;
  display: inline;
  margin-inline-start: 1.5vw;
}

form {
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
}

input {
  background-color: #C0C0C0;
  display: block;
  inline-size: 40vw;
  margin-block-start: 1vh;
  margin-block-end: 0.75vh;
  min-inline-size: 300px;
}

label {
  display: block;
  font-weight: bold;
}

nav {
  align-items: center;
  background-color: #000000;
  block-size: 40px;
  display: flex;
  grid-column: 1 / span 12;
  grid-row: 1;
  inline-size: 100vw;
}

textarea {
  background-color: #C0C0C0;
  block-size: 40vh;
  display: block;
  inline-size: 40vw;
  margin-block-start: 1vh;
  margin-block-end: 0.75vh;
  min-inline-size: 300px;
}

#containerHome {
  block-size: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px repeat(6, 1fr) 40px;
}

#containerHome > h1 {
  align-items: center;
  display: flex;
  grid-column: 1 / span 6;
  grid-row: 2;
  margin: 0 1.5vw 0 1.5vw;
}

#containerHome > p {
  grid-column: 1 / span 10;
  grid-row: 3;
  margin: 0 1.5vw 0 1.5vw;
}

#containerAbout {
  block-size: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px repeat(6, 1fr) 40px;
}

#containerAbout > h1 {
  align-items: center;
  display: flex;
  grid-column: 1 / span 6;
  grid-row: 2;
  margin: 0 1.5vw 0 1.5vw;;
}

#containerAbout > img {
  block-size: auto;
  grid-column: 1 / span 3;
  grid-row: 3 / span 3;
  margin: 0 1.5vw 0 1.5vw;
  max-inline-size: 22.5vw;
}

#p1 {
  grid-column: 5 / span 6;
  grid-row: 3; 
  margin: 0;
  max-inline-size: 65ch;
}

#p2 {
  grid-column: 5 / span 6;
  grid-row: 4;
  margin: 0;
  max-inline-size: 65ch;
}

#containerProjects {
  block-size: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px repeat(6, 1fr) 40px;
}

#containerProjects > h1 {
  align-items: center;
  display: flex;
  grid-column: 1 / span 6;
  grid-row: 2;
  margin: 0 1.5vw 0 1.5vw;;
}

#containerProjects > ul {
  grid-column: 1 / span 10;
  grid-row: 3 / span 6;
  list-style-type: none;
  margin: 0 0 40px 0;
  max-inline-size: 65ch;
  overflow-y: scroll;
  padding: 0 0 0 1.5vw;
}

#containerContact {
  block-size: 100vh;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px repeat(6, 1fr) 40px;
}

#containerContact > h1 {
  align-items: center;
  display: flex;
  grid-column: 1 / span 6;
  grid-row: 2;
  margin: 0 1.5vw 0 1.5vw;;
}

#containerContact > form {
  grid-column: 1 / span 6;
  grid-row: 3 / span 5;
  overflow-y: scroll;
}

.flexItemNav {
  margin-inline-start: 1.5vw;
}

.project {
  margin: 3.0vh 1.5vw 3.0vh 1.5vw;
}

@media (max-width: 800px) {
  input {
    inline-size: 50vw;
  }
  textarea {
    inline-size: 50vw;
  }
}

