/* Portfolio Site */

a {
  color: #0000FF;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #0000FF;
}

a > img {
  max-block-size: 20px;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  background-color: #E6E6E6;
  box-sizing: border-box;
  color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: clamp(0.9em, 0.6em + 0.5vw, 1.5em);
  margin: 0;
  padding: 0;
}

footer {
  align-items: center;
  background-color: #E6E6E6;
  block-size: 40px;
  bottom: 0;
  display: flex;
  inline-size: 100vw;
  left: 0;
  position: fixed;
}

footer > p {
  color: #000000;
  display: inline;
  margin-inline-start: 1.5vw;
}

form {
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
}

h1 {
  margin: 0 1.5vw 0 1.5vw;
  padding: 1.5vh 0 1.5vh 0;
}

h1.home {
  margin: 40vh 0 0 0;
  padding: 0;
}

input {
  background-color: #E6E6E6;
  display: block;
  inline-size: 25vw;
  margin-block-start: 1vh;
  margin-block-end: 0.75vh;
  min-inline-size: 250px;
}

label {
  display: block;
}

nav {
  align-items: center;
  background-color: #E6E6E6;
  block-size: 40px;
  display: flex;
  inline-size: 100vw;
  left: 0;
  position: fixed;
  top: 0;
}

textarea {
  background-color: #E6E6E6;
  block-size: 40vh;
  display: block;
  inline-size: 50vw;
  margin-block-start: 1vh;
  margin-block-end: 0.75vh;
  min-inline-size: 300px;
}

#containerAbout {
  margin: 5vh 0 5vh 0;
  overflow-y: scroll;
}

#containerContact {
  background-color: #00008B;
  color: #E6E6E6;
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
  padding-block-start: 1.5vh;
  padding-block-end: 1.5vh;
}

#containerMain {
  margin: 5vh 0 5vh 0;
  overflow-y: scroll;
}

#flexContainerAbout {
  background-color: #00008B;
  color: #E6E6E6;
  display: flex;
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
  padding: 5vh 5vw 5vh 5vw;
}

#flexContainerProjects {
  display: flex;
  flex-wrap: wrap;
}

.about {
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
  max-inline-size: 60ch;
}

.card {
  background-color: #00008B;
  block-size: 60vh;
  color: #E6E6E6;
  flex: 1 1 25%;
  margin-block-start: 1vh;
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
  min-inline-size: 250px;
  padding: 1vh 1vw 1vh 1vw;
}

.flexItemNav {
  margin-inline-start: 1.5vw;
}

.home {
  text-align: center;
}

.profile {
  block-size: auto;
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
  max-inline-size: 25vw;
}

@media (max-width: 900px) {
  .card {
    inline-size: 97vw;
  }
}

@media (max-width: 800px) {
  input {
    inline-size: 50vw;
  }
  textarea {
    inline-size: 50vw;
  }
  #flexContainerAbout {
    flex-direction: column;
  }
  .about {
    max-inline-size: 97vw;
  }
  .profile {
    max-inline-size: 97vw;
  }
}

@media (max-width: 600px) {
  input {
    inline-size: 92.5vw;
  }
  textarea {
    inline-size: 92.5vw;
  }
  #flexContainerAbout {
    flex-direction: column;
  }
  .about {
    max-inline-size: 97vw;
  }
  .profile {
    max-inline-size: 97vw;
  }
}
