/* Portfolio Site */

a {
  color: hsl(236, 100%, 50%);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: hsl(240, 90%, 55%);
}

a > img {
  max-block-size: 20px;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  align-items: center;
  bottom: 0;
  display: flex;
  inline-size: 100vw;
  left: 0;
  min-block-size: 40px;
  position: fixed;
}

footer > p {
  display: inline;
  margin-inline-start: 1.5vw;
}

h1 {
  margin-inline-start: 1.5vw;
}

img {
  block-size: 25vw;
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
}

input {
  display: block;
}

label {
  display: block;
}

nav {
  align-items: center;
  display: flex;
  min-block-size: 40px;
}

textarea {
  display: block;
}

#flexContainerAbout {
  display: flex;
}

#flexContainerHome {
  align-items: center;
  block-size: calc(100vh - 40px - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#flexContainerHome > h1 {
  margin: 0;
}

#flexContainerProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about {
  margin-inline-start: 1.5vw;
  margin-inline-end: 1.5vw;
  max-inline-size: 60ch;
}

.card {
  border: 1px solid black;
  block-size: 60vh;
  inline-size: 25vw;
  min-inline-size: 35ch;
  padding: 1vh 1vw 1vh 1vw;
}

.flexItemNav {
  margin-inline-start: 1.5vw;
}
